body{
    background-color: #E5E5E5;
    overflow-x: hidden;
}
.corpo{
    font-family:'Roboto';
    background-color: #E5E5E5;
}
*{
    box-sizing: border-box;
}
.tela1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topo{
    width: 100%;
    height: 69px;
    background-color: #EC362D;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 37px;
    color: #FFFFFF;
    font-weight: bold;
    
}

.topo h1:hover{
    cursor: pointer;
}

.containerprincipal{
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    

}
.inicioquizz{
    margin-top: 107px;
    width: 900px;
    height: 181px;
    border-style: dashed;
    border-width: 2px;
    border-color: #D4D4D4;
    border-radius: 5px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.naocriouquizz{
    width: 250px;
    height: 107px;
    color: #B9B9B9;
    font-size: 22px;
    font-style: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.criarquizz{
    color: #EC362D;
    width: 136px;
    height: 40px;
    font-size: 18px;
    border-style:dashed ;
    border-width: 1px;
    border-color: #EC362D;
    border-radius: 50px;

}

.criarquizz:hover{
    cursor: pointer;
}

.quizzCriado{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 70px;
    width: 900px;


}

.quizzCriado img{
    width: 2px;
}

.quizzUsuario{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h4{
    font-weight: bold;
    margin-right: 17px;
}

.quizzUsuario ion-icon{
    font-size: 25px;
    color: #EC362D;
}

.quizzUsuario ion-icon:hover{
    cursor: pointer;
    color: #8f1812;
}

.quizzesdoUsuario{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    margin: 10px 0;
}


.caixa{
    width: 900px;
    margin: 40px;
}

.textoquizzes{
    margin-bottom: 10px;
    font-weight: bold;
}

.novosQuizzes{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quizz{
    width: 30%;
    height: 160px;
    margin: 10px 0;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(180deg, rgb(29, 28, 28) 10%, rgb(29, 28, 28) 100%);
    border-radius: 5px; 
}
.quizz img {
    width: 100%;
    
    border-radius: 5px; 
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 50%);
}

.quizz div{
    position: absolute;
    bottom: 5%;
    height: 20%;
    width: 90%;
    font-size: 13px;
    word-break: break-all;
    color: #FFFFFF;
    font-family: "Roboto";
}

.quizz:hover{
    cursor: pointer;
}


.informacoes-basicas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

}

.frase{
    font-size: 23px;
    line-height: 27px;
    font-weight: 700;   
    margin: 60px 0 30px 0;
}
.informacoes-basicas form{
    background-color: rgb(255, 255, 255);
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.button-form{
    margin: 40px 0;
    width: 25%;
    height: 40px;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.button-form:hover{
    cursor: pointer;
    background-color: #c2251d;
}

.desktop-9{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    

}


.desktop-10{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;

}

.pergunta{
    background-color: #FFFFFF;
    width: 100%;
    padding: 20px 20px;
}

.numero-pergunta{
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
}


.pergunta form{
    display: flex;
    flex-direction: column;
}

.pergunta label{
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
}

.mini-container{
    margin: 10px 0;
}

.icon{
    
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.button-perguntas{
    margin: 40px 0;
    width: 50%;
    height: 40px;
    background-color: #ec362d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.button-perguntas:hover{
    background-color: #c2251d;
    cursor: pointer;
}

.quizz-pronto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capa-quizz{
    position: relative;
    width: 25%;
}

.capa-quizz img{
    width: 100%;
    border-radius: 10px;
    height: 200px;
}

.titulo-quizz{
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: #FFFFFF;
}
.botao-acessar{
    margin: 40px 0 20px 0;
    width: 15%;
    height: 40px;
    background-color: #ec362d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    text-align: center;
    color: white;
    border-radius: 15px;
}
.botao-acessar:hover{
    background-color: #c2251d;
    cursor: pointer;
}
.voltar-home{
    color: #aeaeae;
    cursor: pointer;

}
.caixa-destop9{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subcaixa-tema { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 100%, rgb(29, 28, 28) 100%);
}
.subcaixa-tema img { 
    width: 100%;
    -webkit-mask-image: linear-gradient(to top, transparent 10%, rgb(58, 58, 58) 100%);
}

.subcaixa-tema span { 
    color: #E5E5E5;
    font-size: 24px;
    position: absolute;
    left: 40%;
    bottom: 40%;
}

.subcaixa-pergunta { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 20px;
}

.titulo-pergunta{ 
    margin: 10px auto;
    color: #D1D1D1;
    width: 100%;
    height: 80px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.perguntas{ 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imagem-pergunta{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
 }

.imagem-pergunta img{ 
    width: 100%;
    
}

.imagem-pergunta span{ 
    margin: 10px 0;
}

.imagem-pergunta:hover{ 
    cursor: pointer;
}


input{

    width: 95%;
    height: 40px;
    margin: 5px auto;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 0 10px;
    font-weight: 400;
    font-style: italic;
 }

@media(max-width: 400px){
    .corpo{
        overflow-x: hidden;
    }
    .topo{
        width: 100%;
    }

    .containerprincipal{
        flex-direction: column;
        width: 100%;
    }

    .caixa{
        width: 90%;
    }

    .novosQuizzes{
        flex-direction: column;
        width: 100%;
    }

    .quizz{
        width: 100%;
        height: 160px;
    }
}