*{
    box-sizing: border-box;
}

.topo{
    width: 1440px;
    height: 69px;
    background-color: #EC362D;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 37px;
    color: #FFFFFF;
    font-family:'Roboto';
    font-weight: bold;
    
}

.containerprincipal{
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
}

.novosQuizz{
    
}

.quizz{
    width: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(180deg, rgb(29, 28, 28) 10%, rgb(29, 28, 28) 100%);
    border-radius: 5px; 
}
.quizz img {
    width: 100%;
    border-radius: 5px; 
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 50%);
}

.quizz div{
    position: absolute;
    bottom: 5%;
    height: 20%;
    width: 90%;
    font-size: 13px;
    word-break: break-all;
    color: #FFFFFF;
    font-family: "Roboto";
}

@media(max-width: 400px){
    .topo{
        width: 100%;
    }

    .containerprincipal{
        flex-direction: column;
    }
}